body {
  background: beige;
}

section {
  width: 100%;
  height: 100%;
  margin: 30px;
  padding: 15px;
  background: lightgray;
  border: 1px solid black;
}

div.dialog {
  position: fixed;

  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  flex-direction: column;

  padding: 16px;

  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);

  background: cyan;
}


div.icon-and-text {
  display: flex;
  flex-direction: row;
}

div.icon {
  background-color: indianred;
}

div.text {
  background-color: palegreen;
}

button {
  background-color: skyblue;
}
